
RewriteEngine on

RewriteCond %{HTTP_HOST} ^signaturefundraising.com$
RewriteRule ^/?(.*)$ "http\:\/\/www\.signaturefundraising\.com\/$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^sigfund.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.sigfund.com$
RewriteRule ^/?(.*)$ "http\:\/\/www\.signaturefundraising\.com\/$1" [R=301,L]

